#icono{
    position: absolute;
    width: calc(98%);
    left:calc(1%);
    top:calc(3%); 
    z-index:0; 
}
#harman{
    position: absolute;
    width: calc(11%);    
    top: calc(13%);
    left: calc(43%);
}
#ialab{
    position: absolute;
    width: calc(10%);
    bottom: calc(15%);    
    left: calc(8%); 
}
#sanmina{
    position: absolute;
    width: calc(7%);
    bottom: calc(15%);    
    right: calc(15%);
}
#myInput{
    position: absolute;
    top: calc(25%);
    left: calc(43%);
    background-color: transparent;
    border-color: transparent;
    outline: none;  
    cursor: none;
    color: transparent;
    
    
 
}

#capturedCanvas{
    position: absolute;
    top: 408px; /*mas arriba, mas abajo se va la imagen*/
    left: 140px;
    width: 1154px;
    height: 560px;
    z-index:1;

}

#capturedCanvas2{
    position: absolute;
    top: 408px;
    right: 150px;
    width: 1150px;
    height: 560px;
    z-index: 1;
    
}
/*#capturedCanvas{
   /* position: absolute;
    top: 500px;
    left: 10;
    z-index:5;

}

#capturedCanvas2{
    /*position: absolute;
    top: 300px;
    right: 15;
    z-index:2;
    
}

